.title {
  font-size: 40px;
}

.center {
  flex: 1;
  height: 75vh;
  background: #e7e4e0;
  overflow-y: scroll;
  text-align: left;
  padding: 10px;
}

h1 {
  font-size: large;
}

h2 {
  font-size: medium;
}

p {
  font-size: small;
}
