.title {
  font-size: 40px;
}

.center {
  display: flex;
  flex: 1;
  height: 75vh;
  background: #e7e4e0;
  padding: 10px;
  position: relative;
}

.msg {
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: large;
}

h2 {
  font-size: medium;
}

p {
  font-size: small;
}
